body {
    background-color: #c4ddfc;
    font-family: 'Open Sans', sans-serif;
  }

  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }

  .card {
    min-height: 508px;
  }

  .card ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card li {
    float: left;
    width: 50%;
  }

  .card li .image {
    background-position: 50%;
    background-size: cover;
    border: 1px solid #dcdcdc;
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 20px;
  }

  .card-header {
    background: #1b7cf5;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }

  .container {
    margin-top: 20px;
  }

  .header {
    border-bottom: 1px solid #dcdcdc;
    font-weight: bold;
  }

  h3 small {
    font-size: 12px;
  }

  #weather_section {
    margin-bottom: 32px;
    margin-top: 32px;
  }